:root {
  --color-primary: 221, 83%;
  --color-secondary: 175, 84%;
  --color-accent: 34, 197, 94; /* Green */
  --color-neutral: 243, 244, 246; /* Light Gray */
  --color-base: 255, 255, 255; /* White */
}
