@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  @apply bg-white min-h-screen w-full text-gray-700;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
